.partner {
  margin: 50px 0;

  &__title {
    font-family: "Roboto";
    line-height: 1rem;
    font-weight: 500;
    font-size: 35px;
    color: #000;
  }

  &__wrapper {
    margin: 50px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    a {
      text-align: center;
      align-items: center;
      // width: 300px;
      //     height: 120px;
      display: flex;
      justify-content: center;
      div {
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 236px;
        height: 100px;
        border-radius: var(--border-radius);
        object-fit: cover;
      }
    }

    &-idea {
      background-image: url(../../assets/images/idea.a34bd7c2.png);
      width: 150px;
      height: 100px;
    }

    &-mediapark {
      background-image: url(../../assets/images/Mediapark.417b7326.png);
    }

    &-storesmart {
      background-image: url(../../assets/images/Storesmart.d63bff61.png);
    }

    &-paragraf {
      background-image: url(../../assets/images/Paragraf.2c8adfcb.png);
    }

    &-mobilezona {
      background-image: url(../../assets/images/Mobilezone.cf10afc5.png);
    }

    &-goodzone {
      background-image: url(../../assets/images/Goodzone.ba92d252.png);
    }

    &-elmakon {
      background-image: url("https://images.freeimages.com/vme/images/2/2/22658/idea_thumb.png");
    }

    &-radius {
      background-image: url(../../assets/images/Radius.8efad6d1.png);
    }

    &-texnomart {
      background-image: url(../../assets/images/Texnomart.9ab1360b.png);
    }

    &-macbro {
      background-image: url("https://cdn.macbro.uz/macbro/170201db-675e-4833-b64c-db5371090adc");
    }
  }

  &__btn {
    text-decoration: none;
    border: 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--color);
    color: #fff;
    padding: 8px 16px;
    font-family: "Roboto";
    font-weight: 400;
    width: 229px;
    height: 41.6px;
  }
}

@media (max-width: 1300px) {
  .partner {
    .container {
      width: 1100px !important;
    }
    margin-left: 50px;
  }
}

@media (max-width: 1250px) {
  .partner {
    margin-left: 0px;
  }
}

@media (max-width: 1180px) {
  .partner {
    .container {
      width: 880px !important;
    }
    margin-left: 0px;
  }
}
@media (max-width: 1080px) {
  .partner {
    margin-left: -20px;
  }
}

@media (max-width: 1000px) {
  .partner {
    .container {
      width: 700px !important;
    }
    margin-left: 0px;
  }
}

@media (max-width: 880px) {
  .partner {
    margin-left: 80px;
  }
}
@media (max-width: 800px) {
  .partner {
    .container {
      width: 600px !important;
    }
    margin-left: 0px;
  }
}

@media (max-width: 750px) {
  .partner {
    margin-left: -10px;
  }
}

@media (max-width: 720px) {
  .partner {
    margin-left: 0px;
  }
}

@media (max-width: 680px) {
  .partner {
    .container {
      width: 550px !important;
    }
    margin-left: 50px;
  }
}

@media (max-width: 640px) {
  .partner {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .partner {
    margin-left: 60px;
  }
}

@media (max-width: 580px) {
  .partner {
    margin-left: 25px;
  }
}

@media (max-width: 550px) {
  .partner {
    .container {
      width: 450px !important;
    }
    margin-left: 20px;
    &__wrapper {
      margin-left: 50px;
    }
  }
}

@media (max-width: 530px) {
  .partner {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .partner {
    .container {
      width: 400px !important;
    }
    margin-left: 20px;
    &__wrapper {
      margin-left: 50px;
    }
  }
}

@media (max-width: 480px) {
  .partner {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .partner {
    .container {
      width: 350px !important;
    }
    margin-left: 20px;
    &__wrapper {
      margin-left: 50px;
    }
  }
}

@media (max-width: 430px) {
  .partner {
    margin-left: 0px;
  }
}

@media (max-width: 400px) {
  .partner {
    .container {
      width: 300px !important;
    }
    margin-left: 20px;
    &__wrapper {
      margin-left: 50px;
    }
  }
}
