@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.navbar {
  // color: var(--color-white);
  font-family: "Open Sans";
}

.header {
  background-color: var(--color);
  height: 57.6px;
  background-image: url(../../assets/images/ornaments.293141de.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    height: 57.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 10px 0;
    &-logo {
      align-items: center;
      display: flex;
      gap: 10px;
      div {
        background-image: url(../../assets/images/promo-logo.c6505acf.svg);
        background-repeat: inherit;
        background-size: cover;
        align-items: center;
        width: 98px;
        height: 18px;
      }

      h2 {
        font-size: 18px;
      }
    }

    &-oclock {
    }

    &-btn {
      text-decoration: none;
      width: 192px;
      height: 37.6px;
      background-color: var(--color-gold);
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      align-self: center;
      border-radius: var(--border-radius);
      color: #000;
      cursor: pointer;

      span {
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

.nav {
  width: 100%;
  height: 74px;
  color: #000000b7;
  list-style-type: none;
  font-family: sans-serif;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.92;
  // background-color: aqua;
  div {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      align-self: center;
      align-items: center;
      gap: 20px;

      li {
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    &-one {
      align-items: center;
      align-self: center;
      transition: 0.5s ease-in-out;

      span {
        width: 120px;
        height: 30px;
        display: flex;
        gap: 3px;
        align-items: center;
        align-self: center;
        margin-right: 20px;
        img {
          margin-top: 5px;
          width: 70px;
        }

        span {
          font-size: 20px;
          font-weight: 700;
          color: #000;
        }
      }

      li {
        &:hover {
          color: var(--color);
        }
      }
    }

    &-two {
      li {
        display: flex;
        gap: 10px;
        align-items: center;
        align-self: center;

        span {
          display: flex;
          gap: 10px;
          align-items: center;
          align-self: center;
          padding: 5px;
          img {
            margin-top: 1px;
            width: 32px;
            height: 28px;
          }

          &:active {
            border: 1px solid var(--color);
            border-radius: var(--border-radius);
          }
        }

        a {
          text-decoration: none;
          border: 1.5px solid #0000006c;
          color: #000000e5;
          border-radius: var(--border-radius);
          padding: 8px 12px;
          cursor: pointer;
        }
      }
    }
  }
  &__menu {
    display: none;
  }
  &__wrap {
    display: none !important;

    &-one {
      cursor: pointer;
    }
  }

  &__img {
    cursor: pointer;
    img {
      width: 1280px;
      margin: auto;
      border-radius: 25px;
      margin-top: 120px;
    }
  }

  &__category {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    font-family: sans-serif;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      justify-content: center;
      gap: 15px;
      width: 300px;
      height: 154px;
      border: 1px solid #00000021;
      border-radius: 20px;
      padding: 50px 40px;

      i {
        font-size: 24px;
        width: 48px;
        height: 48px;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: var(--border-radius);
      }

      p {
        text-align: center;
        font-size: 17px;
        width: 252px;
        height: 48px;
        color: #000000c7;
      }
    }

    &-card {
      background-color: #dbeafe;
    }

    &-chart {
      background-color: #ede9fe;
    }

    &-product {
      background-color: #d1fae5;
    }

    &-paymet {
      background-color: #fce7f3;
    }
  }
}

@media (max-width: 1300px) {
  .nav {
    &__wrapper {
      margin: 0 100px;
    }

    &__img {
      img {
        width: 1100px;
        margin-left: 100px;
      }
    }
    &__category {
      width: 1100px;
      margin-top: 50px;
      margin-left: 100px;
      display: flex;
      justify-content: space-between;
      gap: 0;

      li {
        width: 220px;
        height: 200px;
        border: 1px solid #00000021;
        border-radius: 20px;

        p {
          padding: 0 30px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .nav {
    &__wrapper {
      // margin: 0 100px;
      width: 1100px;
      margin-left: 35px;
    }

    &__img {
      img {
        width: 1100px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 1100px;
      margin-top: 50px;
      margin-left: 50px;
      display: flex;
      justify-content: space-between;
      gap: 0;

      li {
        width: 220px;
        height: 200px;
        border: 1px solid #00000021;
        border-radius: 20px;

        p {
          padding: 0 30px;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .nav {
    &__wrapper {
      // margin: 0 100px;
      width: 900px;
      margin-left: 85px;
    }

    &__img {
      img {
        width: 900px;
        margin-left: 100px;
      }
    }
    &__category {
      width: 900px;
      margin-top: 50px;
      margin-left: 100px;
      display: flex;
      justify-content: space-between;
      gap: 0;

      li {
        width: 220px;
        height: 200px;
        border: 1px solid #00000021;
        border-radius: 20px;

        p {
          padding: 0 30px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .nav {
    &__wrapper {
      margin-left: 35px;
    }

    &__img {
      img {
        margin-left: 50px;
      }
    }
    &__category {
      margin-left: 50px;
    }
  }
}

@media (max-width: 1000px) {
  .nav {
    &__wrapper {
      display: none !important;
    }

    &__img {
      img {
        width: 700px;
        margin-left: 100px;
      }
    }

    &__category {
      width: 700px;
      flex-wrap: wrap;

      margin-left: 100px;
      gap: 20px;
      li {
        padding: 0px 0px;
        width: 330px;
        height: 150px;
        display: flex;
        // gap: 20px
        flex-direction: row;
      }
    }

    &__wrap {
      width: 700px;
      height: 74px;
      margin-left: 100px;
      display: flex !important;
      justify-content: space-between;

      &-one {
        display: flex;
        align-self: center;
        align-items: center;
        gap: 10px;

        i {
          font-size: 22px;
        }

        span {
          display: flex;
          align-items: center;
          align-self: center;
          gap: 5px;
          img {
            width: 70px;
          }

          p {
            font-size: 22px;
            font-weight: 700;
            color: #000;
          }
        }
      }

      &-two {
        display: flex;
        gap: 5px;
        align-items: center;
        align-self: center;
        padding: 5px;

        img {
          margin-top: 1px;
          width: 32px;
          height: 28px;
        }

        p {
        }

        &:active {
          border: 1px solid var(--color);
          border-radius: var(--border-radius);
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .nav {
    &__wrap {
      margin-left: 50px;
    }

    &__img {
      img {
        margin-left: 50px;
      }
    }
    &__category {
      margin-left: 50px;
    }
  }
}
@media (max-width: 800px) {
  .nav {
    &__wrap {
      width: 600px;
      margin-left: 70px;
    }

    &__img {
      img {
        width: 600px;
        margin-left: 70px;
      }
    }
    &__category {
      width: 600px;
      margin-left: 70px;

      li {
        padding: 0px 20px;
        width: 280px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        p {
          padding: 0;
        }
      }
    }

  }
}

@media (max-width: 750px) {
  .nav {
    &__wrap {
      margin-left: 50px;
    }

    &__img {
      img {
        margin-left: 50px;
      }
    }
    &__category {
      margin-left: 50px;

      
    }

  }
}

@media (max-width: 720px) {
  .nav {
    &__wrap {
      margin-left: 30px;
    }

    &__img {
      img {
        margin-left: 30px;
      }
    }
    &__category {
      margin-left: 30px;

      li {
        padding: 0px 20px;
        width: 280px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        p {
          padding: 0;
        }
      }
    }

  }
}

@media (max-width: 680px) {
  .nav {
    &__wrap {
      width: 550px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 550px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 550px;
      margin-left: 50px;

      li {
        padding: 0px 20px;
        width: 240px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        p {
          padding: 0;
        }
      }
    }

  }
}

@media (max-width: 640px) {
  .nav {
    &__wrap {
      width: 550px;
      margin-left: 20px;
    }

    &__img {
      img {
        width: 550px;
        margin-left: 20px;
      }
    }
    &__category {
      width: 550px;
      margin-left: 20px;

      li {
        padding: 0px 20px;
        width: 240px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        p {
          padding: 0;
        }
      }
    }

    &__menu {
      display: flex !important;
      width: 550px;
      gap: 5px;
      justify-content: space-between;
      margin-left: 20px;
      margin-top: 20px; 
      &-one {

        width: 400px;
        height: 34px;
        background-color: #3ABA81;
        color: #fff;
        text-decoration: none;
        border: 1.5px solid rgba(0, 0, 0, 0.4235294118);
        border-radius: var(--border-radius);
        padding: 8px 12px;
        border: none;
        cursor: pointer;
        text-align: center;
        font-family: "Roboto";
        font-weight: 400;
      }

      &-two {
        width: 150px;
        height: 34px;
        text-decoration: none;
        border: 1.5px solid rgba(0, 0, 0, 0.4235294118);
        color: rgba(0, 0, 0, 0.8980392157);
        border-radius: var(--border-radius);
        padding: 8px 12px;
        cursor: pointer;
        text-align: center;
        font-family: "Roboto";
        font-weight: 400;
      }
    }
  }
}


@media (max-width: 600px) {
  .nav {
    &__wrap {
      width: 500px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 500px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 500px;
      margin-left: 50px;

      li {
        padding: 0px 20px;
        width: 240px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        p {
          padding: 0;
        }
      }
    }
    &__menu {
      width: 500px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 580px) {
  .nav {
    &__wrap {
        margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}

@media (max-width: 550px) {
  .nav {
    &__wrap {
      width: 450px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 450px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 450px;
      margin-left: 50px;

      li {
        padding: 20px 20px;
        width: 210px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        padding: 5px 8px ;
        p {
        //  padding-bottom: 30px;
        }
      }
    }
    &__menu {
      width: 450px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 530px) {
  .nav {
    &__wrap {
      margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}

@media (max-width: 500px) {
  .nav {
    &__wrap {
      width: 400px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 400px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 400px;
      margin-left: 50px;

      li {
        padding: 20px 20px;
        width: 190px;
        height: 120px;
        display: flex;
        // gap: 20px
        flex-direction: row;
        padding: 5px 8px ;
        p {
        //  padding-bottom: 30px;
        }
      }
    }
    &__menu {
      width: 400px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 480px) {
  .nav {
    &__wrap {
      margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}

@media (max-width: 450px) {
  .nav {
    &__wrap {
      width: 350px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 350px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 350px;
      margin-left: 50px;

      li {
        padding: 20px 20px;
        width: 160px;
        height: 185px;
        display: flex;
        // gap: 20px
        flex-direction: column;
        padding: 5px 8px ;
        p {
        //  padding-bottom: 30px;
        width: 150px;
        }
      }
    }
    &__menu {
      width: 350px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 430px) {
  .nav {
    &__wrap {
      margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}


@media (max-width: 400px) {
  .nav {
    &__wrap {
      width: 300px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 300px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 300px;
      margin-left: 50px;

      li {
        padding: 20px 20px;
        width: 140px;
        height: 200px;
        display: flex;
        // gap: 20px
        flex-direction: column;
        padding: 5px 8px ;
        p {
        //  padding-bottom: 30px;
        width: 150px;
        padding: 0 20px;
        }
      }
    }
    &__menu {
      width: 300px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 380px) {
  .nav {
    &__wrap {
      margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}

@media (max-width: 350px) {
  .nav {
    &__wrap {
      width: 250px;
      margin-left: 50px;
    }

    &__img {
      img {
        width: 250px;
        margin-left: 50px;
      }
    }
    &__category {
      width: 250px;
      margin-left: 50px;

      li {
        padding: 20px 20px;
        width: 115px;
        height: 210px;
        display: flex;
        // gap: 20px
        flex-direction: column;
        padding: 5px 8px ;
        p {
        //  padding-bottom: 30px;
        width: 150px;
        padding: 0 20px;
        }
      }
    }
    &__menu {
      width: 250px;
      margin-left: 50px;
    }

  }
}

@media (max-width: 330px) {
  .nav {
    &__wrap {
      margin-left: 20px;
    }

    &__img {
      img {
        margin-left: 20px;
      }
    }
    &__category {
      margin-left: 20px;
    }
    &__menu {
      margin-left: 20px;
    }

  }
}
