* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --color: #00B05E ;
    --color-white: #fff ; 
    --color-gold:#FFC107;
    --border-radius: 10px ;
}

.container {
    width: 1280px;
    margin: auto;
}